.main-header {
	background-color: tomato;
	text-align: center;
}

.main-article {
	background-color: dimgray;
	color: white;
}

.main-aside {
	background-color: skyblue;
}

.div-plant {
	background-color: forestgreen;
	color: white;
}

.div-see {
	background-color: lightyellow;
}

.div-sex {
	background-color: deeppink;
	color: white;
}

.div-what {
	background-color: blanchedalmond;
}